{% load static %}
<div class="scrollToTop">
    <span class="arrow"><i class="ri-arrow-up-s-fill fs-20"></i></span>
</div>
<div id="responsive-overlay"></div>

<!-- Popper JS -->
<script src="{% static "/assets/libs/@popperjs/core/umd/popper.min.js" %}"></script>

<!-- Bootstrap JS -->
<script src="{% static "/assets/libs/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

<!-- Defaultmenu JS -->
<script src="{% static "/assets/js/defaultmenu.min.js" %}"></script>

<!-- Node Waves JS-->
<script src="{% static "/assets/libs/node-waves/waves.min.js" %}"></script>

<!-- Sticky JS -->
<script src="{% static "/assets/js/sticky.js" %}"></script>

<!-- Simplebar JS -->
<script src="{% static "/assets/libs/simplebar/simplebar.min.js" %}"></script>
<script src="{% static "/assets/js/simplebar.js" %}"></script>

<!-- Color Picker JS -->
<script src="{% static "/assets/libs/@simonwep/pickr/pickr.es5.min.js" %}"></script>
