{% load static %}
<!-- Start::app-sidebar -->
<aside class="app-sidebar sticky" id="sidebar">

    <!-- Start::main-sidebar-header -->
    <div class="main-sidebar-header">
        <a href="{% url 'index' %}" class="header-logo">
            <img src="{% static "/assets/images/brand-logos/desktop-logo.png" %}" alt="logo" class="desktop-logo">
            <img src="{% static "/assets/images/brand-logos/toggle-logo.png" %}" alt="logo" class="toggle-logo">
            <img src="{% static "/assets/images/brand-logos/desktop-dark.png" %}" alt="logo" class="desktop-dark">
            <img src="{% static "/assets/images/brand-logos/toggle-dark.png" %}" alt="logo" class="toggle-dark">
        </a>
    </div>
    <!-- End::main-sidebar-header -->

    <!-- Start::main-sidebar -->
    <div class="main-sidebar" id="sidebar-scroll">

        <!-- Start::nav -->
        <nav class="main-menu-container nav nav-pills flex-column sub-open">
            <div class="slide-left" id="slide-left">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"> <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path> </svg>
            </div>
            <ul class="main-menu">

                <!-- Start::slide__category -->
                <li class="slide__category"><span class="category-name">유저관리</span></li>
                <!-- End::slide__category -->

                <!-- Start::slide -->
                <li class="slide">
                    <a href="{% url 'user_lists' %}" class="side-menu__item">
                        <i class="bx bxs-user-detail side-menu__icon"></i>
                        <span class="side-menu__label">유저목록</span>
                    </a>
                </li>
                <!-- End::slide -->

                <!-- Start::slide -->
                <li class="slide">
                    <a href="icons.html" class="side-menu__item">
                        {% comment %} <i class="bx bx-store-alt side-menu__icon"></i> {% endcomment %}
                        <i class='bx bxs-user-plus side-menu__icon'></i>
                        <span class="side-menu__label">유저추가</span>
                    </a>
                </li>
                <!-- End::slide -->

                <!-- Start::slide__category -->
                <li class="slide__category"><span class="category-name">광고목록</span></li>
                <!-- End::slide__category -->
                <!-- Start::slide -->
                <li class="slide">
                    <a href="widgets.html" class="side-menu__item">
                        <i class="bx bx-list-ul side-menu__icon"></i>
                        <span class="side-menu__label">광고목록</span>
                    </a>
                </li>
                <!-- End::slide -->

                

                <!-- Start::slide__category -->
                <li class="slide__category"><span class="category-name">광고등록</span></li>
                <!-- End::slide__category -->

                



                <!-- Start::slide -->
                <li class="slide has-sub">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <i class="bx bx-store-alt side-menu__icon"></i>
                        <span class="side-menu__label">N플레이스<span class="badge bg-danger-transparent ms-2">Hot</span></span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            
                            <a href="coming-soon.html" class="side-menu__item">저장하기</a>
                        </li>


                        <li class="slide">
                            <a href="under-maintenance.html" class="side-menu__item">알림받기</a>
                        </li>


                        <li class="slide">
                            <a href="under-maintenance.html" class="side-menu__item">트래픽</a>
                        </li>

                    </ul>
                </li>
                <!-- End::slide -->

                <!-- Start::slide -->
                <li class="slide has-sub">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <i class="bx bx-gift side-menu__icon"></i>
                        <span class="side-menu__label">N쇼핑</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide side-menu__label1">
                            <a href="javascript:void(0)">Error</a>
                        </li>
                        <li class="slide">
                            <a href="401-error.html" class="side-menu__item">401 - Error</a>
                        </li>
                        <li class="slide">
                            <a href="404-error.html" class="side-menu__item">404 - Error</a>
                        </li>
                        <li class="slide">
                            <a href="500-error.html" class="side-menu__item">500 - Error</a>
                        </li>
                    </ul>
                </li>
                <!-- End::slide -->

                <!-- Start::slide__category -->
                <li class="slide__category"><span class="category-name">정산</span></li>
                <!-- End::slide__category -->



                <!-- Start::slide -->
                <li class="slide">
                    <a href="widgets.html" class="side-menu__item">
                        <i class="bx bx-wallet side-menu__icon"></i>

                        <span class="side-menu__label">충전하기</span>
                    </a>
                </li>
                <!-- End::slide -->


                <!-- Start::slide -->
                <li class="slide">
                    <a href="icons.html" class="side-menu__item">
                        <i class="bx bx-money-withdraw side-menu__icon"></i>
                        <span class="side-menu__label">환급하기</span>
                    </a>
                </li>
                <!-- End::slide -->
            </ul>
            <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"> <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path> </svg></div>
        </nav>
        <!-- End::nav -->

    </div>
    <!-- End::main-sidebar -->

</aside>
<!-- End::app-sidebar -->